/** @format */

div.btnSair {
  display: flex;
  float: right;
}

div.btnSair a {
  align-self: flex-end;
}

div.pokemon-list ul {
  padding: 0px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 85px;
}

div.pokemon-list li {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.pokemon-list li header {
  width: 100px;
  height: 100px;
  background-size: cover;
}

div.pokemon-list li strong {
  align-self: center;
  margin: 10px;
  font-size: 20px;
  color: #555;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

div.bodyDetalhe div {
  flex-direction: "row";
}
